<!DOCTYPE html>
<html>
<head>
    <title>Notifikasi Rincian Pembayaran</title>
</head>
<body>
    <div>
        <h2>Notifikasi Rincian Pembayaran</h2>
        <p><strong>Kepada Pelanggan Terhormat,</strong></p>
        <p>Terima kasih telah memilih layanan kami. Berikut adalah rincian pembayaran untuk transaksi Anda:</p>

        <h3>Informasi Transaksi:</h3>
        <ul>
            <li>Nomor Pesanan: [Nomor Pesanan]</li>
            <li>Tanggal Transaksi: [Tanggal Transaksi]</li>
            <li>Ongkos Kirim: [Ongkos Kirim]</li>
            <li>Total Harga Produk: [Harga Produk]</li>
            <li>Total Pembayaran: [Total Pembayaran]</li>
        </ul>

        <h3>Rincian Pembayaran:</h3>
        <ul>
            <li>Metode Pembayaran: [Metode Pembayaran]</li>
            <li>Nama Bank: [Nama Bank]</li>
            <li>Nomor Virtual Account: [Nomor Virtual Account]</li>
            <li>Waktu Kadaluarsa: [Waktu Kadaluarsa]</li>
        </ul>

        <!-- <h3>Rincian Barang atau Layanan:</h3>
        <ul>
            <li>[Nama Barang/Layanan 1] - Jumlah: [Jumlah] - Harga: [Harga]</li>
            <li>[Nama Barang/Layanan 2] - Jumlah: [Jumlah] - Harga: [Harga]</li>
        </ul> -->

        <h3>Total Pembayaran: [Total Pembayaran]</h3>
        <p>Silakan selesaikan pembayaran Anda sesuai dengan rincian di atas. Jika Anda memiliki pertanyaan atau masalah terkait dengan pembayaran ini, jangan ragu untuk menghubungi layanan pelanggan kami di 6289xxxxxx atau customer@cakrawala.com.</p>
        <p>Terima kasih atas bisnis Anda. Kami menghargai kepercayaan Anda kepada kami dan berharap Anda menikmati pengalaman berbelanja atau menggunakan layanan kami.</p>
        <p><em>Salam,</em><br>Cakrawala Store<br>[Tanggal Notifikasi]</p>
    </div>
</body>
</html>
