<!DOCTYPE html>
<html>
<head>
    <title>Notifikasi Pembayaran Berhasil</title>
</head>
<body>
    <div>
        <h2>Notifikasi Pembayaran Berhasil</h2>
        <p><strong>Kepada Pelanggan Terhormat,</strong></p>
        <p>Kami ingin memberitahukan bahwa pembayaran Anda telah berhasil diterima. Terima kasih atas kepercayaan Anda kepada kami. Berikut adalah rincian pembayaran Anda:</p>
        <h3>Informasi Transaksi:</h3>
        <ul>
            <li>Nomor Pesanan: [Nomor Pesanan]</li>
            <li>Tanggal Transaksi: [Tanggal Transaksi]</li>
        </ul>

        <h3>Metode Pembayaran:</h3>
        <ul>
            <li>Metode Pembayaran : Virtual Account</li>
            <li>Nama Bank : [Nama Bank]</li>
            <li>Nomor Virtual Account: [Nomor Virtual Account]</li>
        </ul>

        <h3>Rincian Pembayaran:</h3>
        <ul>
            <li>Total Tagihan: [Total Pembayaran]</li>
            <li>Tanggal Pembayaran: [Tanggal Pembayaran]</li>
        </ul>

        <p>Pembayaran Anda telah berhasil diproses dan diterima. Anda dapat melihat rincian pembayaran ini kapan saja dengan masuk ke akun Anda di <a href="#">sini</a>.</p>
        <p>Jika Anda memiliki pertanyaan atau memerlukan bantuan lebih lanjut, jangan ragu untuk menghubungi tim layanan pelanggan kami di 62899xxxxxxx atau customer@cakrawala.com.</p>
        <p>Terima kasih lagi atas bisnis Anda. Kami berharap Anda menikmati produk atau layanan kami dan berharap dapat melayani Anda kembali di masa depan.</p>

        <p><em>Salam,</em><br>Cakrawala Store<br>[Tanggal Notifikasi]</p>
    </div>
</body>
</html>
